{%extends "_base.html" %}

{%block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../../media/{{ article.picture }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ article.title }}</h1>
            <span class="meta">Posted by
              <a href="#">{{ article.author }}</a>
              on {{ article.release_date }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{ article.content }}
        </div>
      </div>
    </div>
  </article>

  <br>
  <br>

  <div>
        <div class="inner">
          {% if commentaires %}
            <table class="table">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Commentaire</th>
                  <th>Date de publication</th>
                </tr>
              </thead>
              <tbody>
                {% for commentaire in commentaires %}
                <tr>
                  <td>{{commentaire.author}}</td>
                  <td>{{commentaire.content}}</td>
                  <td>{{commentaire.release_date}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

            {% endif %}



          <form method="post">
            <div class="form-group">
              {% csrf_token %}
              <table class="table">
                {{ form.as_table }}
              </table>
              <button style="margin-left:50px;" type="submit" class="btn btn-primary">Envoyer</button>
            </div>
          </form>
        </div>
      </div>


{% endblock %}
