{%extends "_base.html" %}

{%block body %}


<!-- Page Header -->
<header class="masthead" style="background-image: url('../../media/metallica.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Derniers articles</h1>
          <span class="subheading">Du Metal et de la licorne</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      {% for article in latest_articles %}
      <div class="post-preview">
        <a href="article/{{ article.slug }}">

          <h2 class="post-title">
            {{ article.title }}
          </h2>
          <h3 class="post-subtitle">
            {{ article.content|slice:"0:20" }} ...
          </h3>
        </a>
        <p class="post-meta">Posted by
          <a href="#">{{ article.author }}</a>
          on {{article.release_date}}</p>
      </div>
      <hr>
      {% endfor %}

      <div class="pagination">
        <span class="step-links">
            {% if latest_articles.has_previous %}
                <a href="?page={{ latest_articles.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ latest_articles.number }} / {{ latest_articles.paginator.num_pages }}.
            </span>

            {% if latest_articles.has_next %}
                <a type="button" class="btn btn-primary" href="?page={{ latest_articles.next_page_number }}">SUIVANT</a>
            {% endif %}
        </span>
      </div>
    </div>
  </div>
</div>






{% endblock %}
