{%extends "_base.html" %}

{%block body %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('../../media/metallica.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <form method="get">
            {{ articles.form.as_p }}
            <button type="submit" class="btn btn-primary">Rechercher</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">

    <div class="col-lg-8 col-md-10 mx-auto">

      {% for article in articles.qs %}
      <div class="post-preview">
        <a href="article/{{ article.slug }}">

          <h2 class="post-title">
            {{ article.title }}
          </h2>
          <h3 class="post-subtitle">
            {{ article.content|slice:"0:20" }} ...
          </h3>
        </a>
        <p class="post-meta">Posted by
          <a href="#">{{ article.author }}</a>
          on {{ article.release_date }}</p>
      </div>
      <hr>
      {% endfor %}

    </div>
  </div>
</div>


{% endblock %}
